.pagination-container {
    .pagination {
        li{
            
            &:not(.active):hover a{
                background-color: $color-state-200;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            a,span {
                padding: 6px 12px;
                border-radius: 4px;
            }
        }
    }
}