.select2-container--default .select2-dropdown {
    border-color: #99c7f8;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--single {
    height: 32px;
    line-height: 32px;
}