@using Dulich.Application.ViewModels
@using X.PagedList
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<VMMenu>

<style>

</style>

<a asp-controller="Menu" asp-action="Create">
    Thêm mới
</a>
<div class="">
    @Html.Partial("_IndexPartial")
</div>
<div class="d-flex justify-content-between">
    <div>
        <span>Tổng số bản ghi </span>
        <span>@ViewData["page"]</span>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>