@using Dulich.Application.ViewModels
@model List<VMMenu>

<a asp-controller="Menu" asp-action="Create">
    Thêm mới
</a>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <h1>@item.Name</h1>
        <h1>@item.Url</h1>
    }
}
else
{
    <h1>Khoong cos du lieu</h1>
}
